.editor {
  width: 100%;
  height: 100%;
  background: #fff;
}
.cardEditor {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  // justify-content: space-between;
}
.editorCard {
  width: 1450px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editorLeft {
  width: 350px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.antinput {
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  margin-left: 10px;
}
.button {
  font-size: 18px;
}
.editorRight {
  width: 200px;
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}
