.study {
  .searchs {
    width: 96%;
    margin-left: 30px;
    margin-top: 15px;
    background: #fff;

    .search1 {
      width: 96%;
      p {
        display: inline-block;
        margin-left: 20px;
        margin-top: 25px;
        input {
          width: 230px;
          height: 35px;
          margin-left: 10px;
          border: 1px solid #ccc;
        }
      }
    }
  }
  .but {
    position: relative;
    margin-left: 80%;
  }
  button {
    margin-left: 10px;
  }
  .imgs {
    margin-left: 30px;
    margin-top: 15px;
    width: 96%;

    background: #fff;

    button {
      width: 80px;
      margin-top: 10px;
    }
  }
  .bus {
    width: 90%;
  }
  .ww {
    width: 96%;
    display: flex;
  }
  //渲染
  .renders {
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    div {
      width: 260px;
      img {
        width: 220px;
        height: 150px;
        margin-top: 10px;
        margin-left: 5px;
      }
    }
  }
  //外面的分页
  .fen {
    width: 96%;
    height: 70px;
    background: #fff;
    margin-left: 30px;
    padding-top: 15px;
    p {
      margin-left: 30%;
    }
  }
  .xin {
    width: 100%;
    height: 100%;
  }
}
//取消  创建的按钮
.aa {
  position: relative;
  margin-top: 200px;
  margin-left: 350px;
}
//文件管理里面的图片
.tu {
  width: 100%;
  height: calc(100% - 150px);
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  img {
    width: 150px;
    height: 120px;
  }
}
//文件管理
.wen {
  margin-left: 500px;
  margin-top: 20px;
}
.inp input {
  width: 150px;
  margin-left: 10px;
  margin-top: 15px;
}
.inp .buts {
  width: 200px;
  height: 45px;
  margin-left: 500px;
  margin-top: 10px;
}
.fens {
  margin-left: 20px;
  padding-top: 15px;
  p {
    margin-left: 60px;
  }
}
