* {
  padding: 0;
  margin: 0;
}

.geprepopersonal {
  width: 100%;
  height: 500px;
  background: #f3f3f3;
}
.right {
  height: 450px;
}
.right h1 {
  font-size: 15px;
}

.left {
  width: 350px;
  height: 300px;
}

.left div:nth-child(1) {
  margin-top: 10px;
}
.leftbottom {
  width: 350px;
  margin-top: 20px;
}
.leftbottom ul {
  // margin-top: 15px;
  //
  width: 350px;
}
.leftbottom ul li {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #f3f3f3;
}
.forms {
  width: 450px;
}
