.login {
  width: 100%;
  height: 620px;
  background: #f3f3f3;
}
.center {
  width: 1300px;
  height: 580px;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: 630px;
  height: 580px;
  background: #fff;
  box-shadow: 1px 1px #f3f3f3;
}
.left img {
  width: 630px;
}
.right {
  width: 680px;
  height: 580px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logina {
  width: 630px;
  height: 580px;
  background: #fff;
  padding-top: 50px;
  display: block;
  padding-top: 100px;
  padding-left: 50px;
}
.logina p {
  width: 400px;
}

.loginform {
  width: 400px;
  height: 200px;
}
.loginform button {
  width: 230px;
}
