.mail {
  width: 96%;
  margin-left: 24px;
}
.header {
  width: 100%;
  height: 120px;
  padding-left: 20px;
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
  p {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    input {
      height: 40px;
      width: 300px;
    }
  }
  .but {
    position: absolute;
    right: 15px;

    Button {
      margin-left: 20px;
    }
  }
}
