.topping {
  width: 100%;
  height: 50px;
  background: #fff;
  span {
    margin-left: 20px;
    line-height: 40px;
  }
}
.bottomm {
  margin-top: 20px;
  background: #fff;
  width: 96%;
  margin-left: 2%;
}
