.ant-pro-table-list-toolbar-setting-items {
  .ant-space-item {
    display: none;
  }
  .ant-space-item:nth-child(1) {
    display: block;
  }
}
.setting {
  background-color: white;
  margin: 50px 20px;
  .ant-tabs-nav-wrap {
    // 国际化第二个
    #rc-tabs-1-tab-2 {
      // background: pink;
      margin-top: 18.5px;
      width: 75px;
      height: 30px;
      border: 1px #ccc solid;
      border-bottom: none;
      text-align: center;
      line-height: 32px;
    }
    #rc-tabs-1-tab-1 {
      // background: blue;
      width: 75px;
      height: 30px;
      border: 1px #ccc solid;
      border-bottom: none;
      text-align: center;
      line-height: 32px;
    }
  }
}

.ant-tabs-tab {
  margin-top: 20px;
}
.btn2 {
  margin-left: 20px;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}
.ossOne {
  // background: pink;
  background: #e6f6ff;
  width: 95%;
  height: 130px;
  border: 1px solid #0088fb;
  margin-top: 28px;
  .ossleft {
    float: left;
    color: #0188fb;
    font-size: 25px;
    width: 80px;
    text-align: center;
    margin-top: 20px;
  }
  .ossright {
    float: left;
    margin-top: 23px;
  }
  h2 {
    color: #0088fb;
    font-size: 16px;
  }
  .ant-alert-info .ant-alert-icon {
    color: #0188fb;
  }
}
