* {
  padding: 0;
  margin: 0;
}

.registeredPage {
  width: 100%;
  height: 620px;
  background: #f3f3f3;
}

.center {
  width: 1300px;
  height: 580px;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 630px;
  height: 580px;
  background: #fff;
  box-shadow: 1px 1px #f3f3f3;
}

.left img {
  width: 630px;
  height: 580px;
}

.right {
  width: 680px;
  height: 580px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register {
  width: 630px;
  height: 580px;
  background: #fff;
  padding-top: 50px;
  padding-top: 100px;
  padding-left: 50px;
}
