.files {
  background-color: #e7eaee;
}
.header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 22px;
  border: 1px solid #ccc;
  background: white;
  .header p {
    width: 96%;
  }
}
.main {
  width: 96%;
  display: flex;
  flex-direction: column;
  .main_top {
    width: 96%;
    // width: 1200px;
    height: 35px;
    margin-left: 2%;
    margin-top: 20px;
    line-height: 35px;
    background-color: aqua;
    background: #ffe58f;
    .main_top p {
      width: 96%;
    }
    border: dashed 1px #ccc;
    // svg {
    //   font-size: 50px;
    //   // text-align: center;
    //   color: #29a2ff;
    //   margin-left: 48%;
    // }
    // span {
    //   margin-left: 40%;
    // }
  }

  .main_bom {
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    // background-color:#000 ;
    display: flex;
    flex-direction: column;
    background: white;
    .bom_top {
      width: 100%;
      height: 140px;
      border: 1px solid #ccc;
      position: relative;
      input {
        // border: none;
        margin-top: 15px;
        margin-left: 20px;
        border: 1px solid #ccc;
        width: 190px;
        height: 30px;
        border-radius: 3px;
      }
      p {
        position: absolute;
        right: 25px;
        bottom: 10px;
        .select {
          width: 57px;
          height: 30px;
          text-align: center;
          background: #09f;
          color: #fff;
          border: none;
          border-radius: 3px;
        }
        button {
          width: 57px;
          height: 30px;
          border-radius: 3px;
          border: 1px solid #ccc;
          margin-left: 10px;
        }
      }
    }
    .bom_bom {
      flex: 1;
      .file_div {
        width: 280px;
        height: 380px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-left: 6px;
        float: left;
        dl {
          width: 100%;
          height: 100%;

          dt {
            width: 100%;
            img {
              width: 100%;
              height: 270px;
            }
          }
        }
      }
    }
  }
}
.p1 {
  img {
    width: 300px;
    height: 300px;
  }
}
