.headright {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99999;
}
.setflag {
  width: 100px;
  height: 120px;
  background: #fff;
  position: absolute;
  top: 35px;
  font-size: 12px;
  right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  z-index: 99999;
}
.setflag span {
  width: 100px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
