.new {
  // width: ;
  width: 300px;
  height: 80px;
}

.ant-btn-primary {
  width: 200px;
}

.headnew {
  margin-top: -5px;
  width: 200px;
  display: flex;
  height: 45px;
  // height: 80px;
  //   align-items: center;
  justify-content: center;
}

.headnew p {
  color: #fff;
  font-size: 22px;
  padding-left: 10px;
  font-weight: 800;
  // margin-top: 20px;
  padding-top: -20px;
}

.headnew img {
  width: 45px;
  height: 60px;
  // margin-top: -15px;
}

.button {
  width: 200px;
  height: 35px;
  padding-top: 5px;
}
