.inp {
  height: 100px;
  margin-top: 20px;
}
.in {
  width: 90%;
  height: 35px;
}
textarea {
  width: 90%;
  border: 1px solid rgb(209, 209, 209);
  height: 180px;
  border-radius: 4px;
}
button {
  background: #1890ff;
  border: none;
  width: 60px;
  height: 30px;
  color: #fff;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
