.box {
  .Topnav {
    width: 100%;
    height: 50px;
    background-color: #fff;
    span {
      margin-left: 20px;
      line-height: 50px;
    }
  }
  .antone {
    // position: relative;
    width: 96%;
    margin-left: 2%;
    height: 130px;
    background-color: #fff;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    #but {
      width: 200px;
      height: 50px;
      // background: pink;
      margin-top: 90px;
      button {
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-left: 5px;
        width: 50px;
      }
      .button1 {
        background: #0188fe;
        color: white;
      }
    }
    span {
      padding-top: 25px;
      margin-left: 24px;
      // width: 600px;
      input {
        width: 170px;
        margin-left: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      select {
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100px;
        height: 25px;
        margin-left: 15px;
      }
    }
  }
  .button3 {
    float: right;
    margin-right: 25px;
  }
  .BoxCenter {
    width: 96%;
    // height: 600px;
    margin-left: 2%;
  }
}
