* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
//index页大盒子
.title {
  width: 100%;
}
.pagecontainers {
  width: 100%;
  height: 90px;
  top: 40px;
  position: sticky;
  z-index: 9;
}

.center {
  width: 96%;
  margin: 24px 24px;
}
.alert {
  width: 100%;
}

#echarts {
  width: 1200px;
  height: 300px;
}
.navs {
  width: 96%;
  margin: 24px;
}
.navslsit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerActive {
  width: 96%;
  margin: 24px;
}
.footerspan {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.zuixinwenzhang {
  width: 1150px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.wenzhang {
  width: 372px;
  height: 198px;
  display: flex;
  align-items: center;
}
.wenzhang:hover {
  box-shadow: 1px 1px 1px 1px #ccc;
}
.wenzhang img {
  width: 340px;
  height: 110px;
}
.wenzhang p {
  padding-top: 5px;
  width: 187px;
  text-align: center;
}

.footercomment {
  width: 96%;
  margin: 24px;
}
.ant-input {
  height: 142px;
  min-height: 142px;
  max-height: 230px;
  overflow-y: hidden;
  resize: none;
}

.tablelettongguo {
  padding-left: -300px;
}
.popovers {
  width: 250px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.popoverTable {
  width: 150px;
}
