.post {
  width: 100%;
  height: 100%;
}
.list1 {
  margin-top: 40px;
  width: 96%;
  // height: 40px;
  border: 1px solid #eee;
  background: #fffbe6;
  line-height: 40px;
}
.list2 span a {
  color: #333;
}
.searchs {
  width: 96%;
  // height: 150px;
  margin-top: 30px;
  background: #fff;
}
.searchs input {
  width: 260px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid #ccc;
}
.searchs p {
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
}
.searchs .but {
  width: 200px;
  height: 45px;
  margin-left: 85%;
  margin-top: 20px;
}
.searchs .but button {
  margin-left: 10px;
}
.kong {
  width: 96%;
  // height: 240px;
  margin-top: 25px;
  background: #fff;
  padding: 50px;
}
