.search {
  width: 100%;
  background-color: #e7eaee;
}
.header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 22px;
  border: 1px solid #ccc;
  background: white;
}
.main {
  width: 96%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  .main_top {
    width: 800px;
    height: 35px;
    margin-left: 30px;
    margin-top: 20px;
    line-height: 35px;
    background-color: aqua;
    background: white;
  }
  .main_bom {
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    // background-color:#000 ;
    display: flex;
    flex-direction: column;
    background: white;
    .bom_top {
      width: 96%;
      height: 140px;
      // border: 1px solid #ccc;
      position: relative;
      input {
        // border: none;
        margin-top: 15px;
        margin-left: 20px;
        border: 1px solid #ccc;
        width: 190px;
        height: 30px;
        border-radius: 3px;
      }
      p {
        position: absolute;
        right: 10px;
        bottom: 10px;
        .select {
          width: 57px;
          height: 30px;
          text-align: center;
          background: #09f;
          color: #fff;
          border: none;
          border-radius: 3px;
        }
        button {
          width: 57px;
          height: 30px;
          border-radius: 3px;
          border: 1px solid #ccc;
          margin-left: 10px;
        }
      }
    }
    .bom_bom {
      flex: 1;
      margin-top: 15px;
    }
  }
}
