.Classify1 {
  width: 36%;
  height: 250px;
  background-color: #fff;
  margin-left: 2%;
  margin-top: 20px;
  float: left;

  h3 {
    line-height: 50px;
    padding-left: 30px;
  }

  .ClassifyInput {
    width: 80%;
    margin-left: 30px;
    margin-top: 15px;
  }

  .ClassifyInput2 {
    width: 80%;
    margin-left: 30px;
    margin-top: 30px;
  }

  .ClassifyButton {
    margin-left: 30px;
    margin-top: 20px;
  }
}

.Classify2 {
  width: 50%;
  height: 150px;
  background-color: #fff;
  margin-top: 20px;
  margin-right: 50px;
  float: right;

  h3 {
    line-height: 50px;
    padding-left: 30px;
  }
  button {
    margin-left: 20px;
    margin-top: 20px;
    color: #8e8787;
    background-color: #fff;
    border: 1px solid #ccc;
    flex: 0 0 65%;
    width: 70px;
  }
}

.Topnav {
  width: 100%;
  height: 50px;
  background-color: #fff;
  span {
    line-height: 50px;
  }
}
