.topone {
  width: 100%;
  height: 50px;
  background: #fff;
  span {
    margin-left: 20px;
    line-height: 40px;
  }
}
.toptwo {
  width: 96%;
  height: 180px;
  background: #fff;
  margin-top: 20px;
  margin-left: 2%;
  position: relative;
  .first {
    margin-top: 35px;
  }
  div {
    float: left;
    width: 320px;
    height: 40px;
    // background: pink;
    margin-left: 30px;
    margin-top: 5px;
    position: relative;
    input {
      width: 200px;
      height: 35px;
      border: rgb(216, 216, 216) solid 1px;
      color: #ccc;
      position: absolute;
      right: 30px;
      border-radius: 3px;
    }
    @media all and (max-width: 1510px) {
      input {
        width: 120px;
        font-size: 6px;
        height: 28px;
      }
    }
    @media all and (max-width: 1215px) {
      input {
        width: 90px;
      }
    }
  }
  // @media print {
  //     div{
  //         display: block;
  //     }
  // }
  @media all and (max-width: 1510px) {
    div {
      width: 200px;
    }
  }
  @media all and (max-width: 1215px) {
    div {
      width: 150px;
    }
  }
  .but {
    width: 130px;
    height: 40px;
    // background: red;
    position: absolute;
    right: 96px;
    bottom: 23px;
    button {
      width: 50px;
      height: 30px;
      margin-left: 10px;
    }
    .one {
      background: #29a2ff;
      border: none;
      color: #fff;
      border-radius: 3px;
    }
    .two {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #000;
    }
  }
}
.mainn {
  margin-top: 15px;
  width: 96%;
  margin-left: 2%;
  background: #fff;
  position: relative;
  // Button重置按钮
  .ant-btn-primary[disabled] {
    background: #fff;
    border: none;
    position: absolute;
    right: 0;
    color: #000;
    top: -13px;
  }
}
.ant-pagination-item-link {
  margin-top: 0.5px;
}
